PORT=[CUSTOM PORT LIKE 8080 OR 3000]
DB_URL=[your database URL LIKE postgresql://<username>:<password>@<host>:<port>/<database> for postgresql]
INTERVAL_MS=[Queue worker timeout in ms LIKE 5000]
MAX_ATTEMPTS=[Maximum number of attempts per job LIKE 5]